h1 {
    text-align: center;
    padding-top: 5px;
}

li {
    font-family: sans-serif;
    list-style: none;
    display: inline;
    padding: 100px;
    padding: 5px auto;
}

ul {
    text-align: center;
    background-color: blue;
    height: 30px;
    position: relative;
    ;
}

p {
    font-size: large;overflow: scroll;
}